body{
    background-color: rgb(24, 190, 43);
}
.testo{
    color: gold;
    text-align: center;
    margin: 5vh 0 0 0;
}

img{
    display: block;
    height: 100%;
}
.scheda{
    display: none;
    width: 80%;
    color: white;
    position: relative;
}

#img1{
    display: block;
    width: 70vw;

    position: relative;
}


.titolo{
    position: absolute;
    bottom: 120px;
    right: 350px;
    font-size: 28px;
    
}

p{
    position: absolute;
    bottom: 60px;
    right: 345px;
    width: 400px;
}

#container {
    position: relative;
}
#imgcontainer{
    display: flex;
    justify-content: center;
    
}

.btnavanti{
    position: absolute;
    width: 40px;
    font-size: 20px;
    background-color: blue;
    color: gold;
    border-radius: 50%;
    border: 0;
    z-index: 2;
    top: 0;
    right: 0;
}



.btnindietro{
    position: absolute;
    width: 40px;
    z-index: 2;
    font-size: 20px;
    background-color: blue;
    color: gold;
    border-radius: 50%;
    border: 0;
    right: 0;
}

.active{
    display: block;
}

#containerlaterale{
    width: 20%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: calc(19% - 2px);
    top: 0;
}

.imagelaterali{
    display: block;
    flex-basis: calc(100% / 5);
    object-fit: cover;
    opacity: .1;
    
}

.opac{
    opacity: 1;
    transition: all 0.8s;
}

.opac:hover{
    scale: 1.5;
}

